/*
 * Basic Styles
 */
* { box-sizing: border-box; }

body {
	background: #fff;
	color: #889294;
	font-family: -apple-system, sans-serif, arial;
	margin: 0;
	-webkit-app-region: drag;
}

label { 
	font-size: 13px; 
	text-transform: uppercase;
}

input {
	display: block;
	width: 160px;
	margin-top: 12px;
	border: none;
	border-bottom: 1px solid #7D8689;
	padding-bottom: 3px;
	background: transparent;
	font-size: 28px;
	color: #DBE7E9;
}

	input:focus {
		outline: none;
		border-bottom: 1px solid #49C2EB;
	}



/*
 * App styles
 */
.app {
	display: flex;
	height: 100vh;
	justify-content: center;
}
	.converter {
		position: relative;
		padding: 24px;
		padding-top: 57px;
		align-self: center;
		width: 600px; 
		background: #27282D;
		box-shadow: 0 0 10px rgba(0,0,0,.35);
		transition: background .5s ease;
	}
		.app-title-bar {
			position: absolute;
			top: 0;
		    left: 0;
			width: 100%;
			padding: 12px 24px;

		    font-size: 9px;
		    text-align: center;
		    text-transform: uppercase;
		    color: #889294; 

		}

		.converter__item {
			display: inline-block;
			margin-right: 24px; 
		}

		.converter__item:last-child { margin-right: 0 }

		#total,
		#totalIva {
			margin-top: 11px;
			font-size: 32px;
			color: #2EE177;
		}


/* 
 * Settings App
*/
.settings {
	display: inline-block;
	position: relative;
}

	.settings > .geomicon {
		width: 12px;
		height: 12px;
		position: relative;
		top: 2px;
		left: 2px;
	}

		.settings > .geomicon:hover {
			color: #49C2EB;
			cursor: pointer;
		}

		.settings > .geomicon:after {
			content: '';
			width: 12px;
			height: 12px;
			background: rgba(0,0,0,0);
			position: absolute;
			top: 0;
			left: 0;
		}

	.settings__options {
		display: flex;
		width: 250px;
		position: absolute;
		background: #000;
		text-align: left;
		font-size: 9px;
		color: #F9F9F9;
		left: 50%;
		transform: translate(-60%, 0px);
		border-radius: 4px;
		opacity: 0;
		visibility: hidden;
		box-shadow: 0 5px 10px rgba(0,0,0,.3);
		transition: all .25s ease-in-out;
	}

	.settings__options:before {
		content: '';
		position: absolute;
		height: 0;
	    width: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 10px solid #000;
	    display: inline-block;
	    left: 51%;
	    transform: translate(-50%,-10px);
	}

	.settings__options--active {
		opacity: 1;
		visibility: visible;
		transform: translate(-60%,20px);
	}

		.settings__options > .option {
			flex-grow: 1;
			padding: 12px 6px;
		}

		.settings__options > .option:last-child {
			margin-bottom: 0px;
		}
			
			.option__label {
				color: #889294;
			}

			.option__input {
				width: 100%;
				font-size: 12px;
				margin-top: 3px;
			}



/*
 * Theme of the app
 */

/* Animation for dark and light theme (Sun&Moon) */
.theme {
	display: block;
	width: 11px;
	height: 11px;
	background: #B7C6DB;
  	border-radius: 100%;
  	cursor: pointer;
  	vertical-align: bottom;
  	-webkit-app-region: no-drag;
  	-webkit-user-select: none;
  	transform: translate(16px,8px);
  	text-align: center;
}

.theme:after {
	content: '';
	display: block;
	width: inherit;
	height: inherit;
	background: #000;
	border-radius: inherit;
	transform: translateX(-35%);
	transition: transform .5s cubic-bezier(0.46, 0.03, 0.52, 0.96), background .5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.theme.sun:after {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  background: #FDC645;
  border-radius: inherit;
  transform: translateX(0);
}

#lightTheme { display: none; }




/* Sun theme */
.converter--sun {
	background: #F9F9F9;
}

	.converter--sun input {
		color: #27282D;
	}

	.converter--sun .option__input {
		color: #DBE7E9;
	}
